body {
  background-image: url(../img/webb.png);
}

.logo {
  font-family: "Peralta", cursive;
}

.logo a {
  color: rgb(0, 0, 0, 0.9);
  text-decoration: none;
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
